# Logs
logs
*.log
npm-debug.log*

.idea/
.run/

node_modules

dist/

*.js
*.js.map
*.csv
*.cl*

.env.node

.DS_Store

# Taskfile.dist.yaml is used by the GitHub workflow.  Allow a local task file that is not commited to push images to other hubs, etc.
Taskfile.yaml

# Optionally preload users with SmartSheet or other imports that will vary across environments.
defaultUsers.json
